@model IEnumerable<MVCWordDictionary.Models.News>

@{
    ViewBag.Title = "Manager News";
}

<p>
    @Html.ActionLink("Create New", "New", null, new { @class = "btn btn-primary" })
</p>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ImageThumb)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="col-md-2">
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td class="col-md-2">
                    @*@Html.DisplayFor(modelItem => item.Description)*@
                    @Html.Raw(item.Description)
                </td>

                <td class="col-md-2">
                    @Html.CustomImage(CommonHelper.DisplayImageNewsThumb(item.ImageThumb), item.ImageThumb, "col-md-9")

                </td>

                <td class="col-md-1">
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td class="col-md-1">
                    @CommonHelper.ConvertValueToStringEnum(typeof(MVCWordDictionary.Enumeration.NewsType), item.NewType.Value)
                </td>
                <td class="col-md-1">
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td class="col-md-1">
                    @Html.DisplayFor(modelItem => item.ModifiedDate)
                </td>
                <td class="col-md-1">
                    @Html.ActionLink(" ", "Edit", new { id = item.NewID }, new { @class = "btn btn-warning glyphicon glyphicon-pencil" })
                    @Ajax.ActionLink(" ", "Delete", new { id = item.NewID }, new AjaxOptions
               {
                   HttpMethod = "Post",
                   OnBegin = "return confirm_delete(this);"
               }, new { @class = "btn btn-danger glyphicon glyphicon-trash" })
                </td>
            </tr>
        }

    </table>
</div>
<div id="dialog-confirm" title="Empty the recycle bin?" style="display:none">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Do you want to delete?</p>
</div>


@Html.Partial("_PagingTemplate", ViewData)

@section scripts{
    <script type="text/javascript">
        function confirm_delete(events) {
            $("#dialog-confirm").dialog({
                resizable: false,
                height: 200,
                width: 400,
                modla: true,
                buttons: {
                    "Delete": {
                        text: "Delete",
                        class: "btn btn-small btn-danger",
                        click: function () {
                            window.location.href = events;
                            $(this).dialog("close");
                        }
                    },
                    "Cancel": {
                        text: "Cancel",
                        class: "btn btn-default",
                        click: function () {
                            $(this).dialog("close");
                            return false;
                        }
                    }
                }
            });
            return false;
        }
    </script>

}