<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mincom &laquo; @ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/confirm-bootstrap")
    @Styles.Render("~/Content/themes/css")
    @Styles.Render("~/Content/themes/jquery-ui")

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top navbar-inverse-bottom">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(" ", "Index", "News", null, new { @class = "navbar-brand btn btn-info glyphicon glyphicon-home", @title = "Home" })
                @Html.ActionLink("News", "index", "News", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <br />
        @RenderSection("otherscripts", required: false)
        @RenderBody()
        <div class="clear"></div>
        <hr />
        <footer>
            <p>&copy; Mincom 2015</p>
        </footer>
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>